.navbar {
    background-color: turquoise;
}
.nav-link, .nav-link-active {
    color: rgb(0, 0, 0);
}
.card {
    background-color: darkred;
    color: green;
    margin-bottom: 200px;
}
#schedule {
    background-color: blue;
    color: orange;
}
#schedulelink {
    color: orangered;
}
#SeaBubbles {
    color: black;
    background-color: rgba(113, 135, 255, 1);

}
#SeaBubbleslink {
    color: purple;
}
#inkdImpressions {
    background-color: #f0482c;
    color: #343434;
}
body {
    background-color: #C33C54;
}
.showcase {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header {
    height: 256px;
    display: flex;
    justify-content: center;
    align-content: center;
    color: #312f2f
}
h1 {
    align-self: center;
}
.dropdown-menu {
    background-color: rgb(19, 252, 229);
}
.current-classes {
    background-color: #fcd0a1;
    color: turquoise;
    margin-right: 50px;
}
.horizontal {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.ended {
    margin-right: 0px;
}
.future-classes {
    background-color: #457b9d;
    color: #312F2F;
    margin-right: 50px;
}